/* General Body Styling */
body {
    font-family: 'Quattrocento Sans', sans-serif;
    margin: 20px;
    background-color: #c7c7c7; /* Light gray background */
}

/* Container for Centering Content */
.container {
    width: 95%;
    margin: auto;
}

/* Main Heading Styling */
h1 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}

/* Login Form Styling */
#loginForm {
    width: 300px; /* Adjust width as needed */
    margin: 20px auto; /* Center the form */
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

#loginForm label {
    display: block; /* Each label on a new line */
    margin-bottom: 5px;
    font-weight: bold;
}

#loginForm input[type="text"],
#loginForm input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

#loginForm button {
    background-color: #5cb85c; /* Green */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

#loginForm button:hover {
    background-color: #3e8e41; /* Darker green on hover */
}

/* Error Message Styling */
.error-message {
    color: red;
    margin-bottom: 10px;
}